# Fichiers compilés et librairies
*.o
libftprintf.a
push_swap

# Dossier de configuration VSCode
.vscode/
/push_swap_tester

# Fichiers temporaires
*~
*.swp

# macOS
.DS_Store

# Autres IDEs (optionnel)
.idea/
